// Palette
$primary-lighter: #414144;
$primary-light: #27272a;
$primary-main: #202124;
// Text
$text-light: #ffffff;
$text-active: #ffffff;
$text-main: #a1a1aa;

// Border
$border-main: #3d3d40;
$border-active: #ffffff;

// Tabs
$tab-active: #a1a1aa;
$tab-secondary: #3d3d40;
//margins & paddings
$p-xs: 1rem;
$p-s: 1.25rem;
